body {
  background-color: LightGrey;
}

body {
  background-color: #eef0e1;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #25282d;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  border-bottom: 3px solid #4a4a4a;
  padding: 10px;
  /* Adds a 10px inner spacing to all sides */
  padding: 10px 5px;
  /* Adds 10px to top & bottom and 5px to left and right */
  padding: 10px 5px 15px 5px;
  /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 10px;
}

/* inside style.css*/
.hero-section {
  /* class selector */
  color: #faebd7;
  background-color: #ffe4c4;
  padding: 20px 0;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  text-align: center;
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  text-align: center;
  padding: 20px;
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.logo {
  max-width: 50px;
}

.row {
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px;
  margin: 20px 20px;
}

.column2 {
  float: right;
  width: 40%;
  padding: 10px;
  height: 300px;
  margin: 20px 20px;
}

.portfolio-picture {
  max-width: 75%;
  position: static;
  padding: 45px;
}

.social-media-icons {
  max-width: max-content;
}

a {
  color: #ff7f50;
  text-decoration: none;
  /* No underlining */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover {
  color: #3385ff;
  text-decoration: underline;
  font-size: auto;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #194c30;
}

.button.read-more {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button.read-more:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.cv {
  background-color: #feaa54;
  color: #ff7f50;
  text-transform: uppercase;
  border: 5px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.footer {
  padding: 50px 50px;
}

footer {
  clear: both;
}

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
}

nav > ul > li {
  display: inline-block;
  padding: 20px;
  float: center;
  text-align: center;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
}

nav > ul > li > a {
  display: block;
  color: #ce6b30;
  padding: 2px 20px;
  text-decoration: none;
  font-size: 120%;
  transition: all 0.8s ease-in-out;
}

li a:hover {
  font-size: 100%;
  color: #3c782e;
}
